/* 08JUN16 */
/* Normalize.css - https://necolas.github.io/normalize.css/ */
html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}body {margin: 0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}audio:not([controls]) {display: none;height: 0;}[hidden],template {display: none;}a {background-color: transparent;}a:active,a:hover {outline: 0;}abbr[title] {border-bottom: 1px dotted;}b,strong {font-weight: bold;}dfn {font-style: italic;}h1 {font-size: 2em;margin: 0.67em 0;}mark {background: #ff0;color: #000;}small {font-size: 80%;}sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}sup {top: -0.5em;}sub {bottom: -0.25em;}img {border: 0;}svg:not(:root) {overflow: hidden;}figure {margin: 1em 40px;}hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}pre {overflow: auto;}code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em;}button,input,optgroup,select,textarea {color: inherit;font: inherit;margin: 0;}button {overflow: visible;}button,select {text-transform: none;}button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}button[disabled],html input[disabled] {cursor: default;}button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}input {line-height: normal;}input[type="checkbox"],input[type="radio"] {box-sizing: border-box;padding: 0;}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}legend {border: 0;padding: 0;}textarea {overflow: auto;}optgroup {font-weight: bold;}table {border-collapse: collapse;border-spacing: 0;}td,th {padding: 0;}
/* Skivvy Defaults */
* {box-sizing:border-box;,background:none no-repeat scroll center center transparent;}
img{-ms-interpolation-mode: bicubic; max-width: 100%;}
a {text-decoration: none;}
::-moz-selection {text-shadow: none; background-color:#B2CCE6;}
::selection {text-shadow: none; background-color:#B2CCE6;}
@-moz-document url-prefix(http), url-prefix(file) {img:-moz-broken {-moz-force-broken-image-icon: 1;width: 100px;height: 75px;}}/* Force Firefox to show image placeholders */
/* Helper classes */
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;float:none;}
.clearfix:before,.clearfix:after {content: '.';display: block;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;width: 0;height: 0;}
.clearfix:after,.container_12:after {clear: both;}
.clearfix {*zoom: 1;}
.preloader, .screenreader{position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}
.hide, .hidden {display:none;}
.greyscale {filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%); -o-filter: grayscale(100%);filter: url(func.svg#greyscale);filter: gray;-webkit-filter: grayscale(1);}
.blurry {filter: url(func.svg#blurry);-webkit-filter: blur(1px);filter: blur(1px);}
.one_half {width:50%;}
.one_third {width:33.33%;}
.two_third {width:66.66%;}
.one_fourth {width:25%;}
.three_fourth {width:75%;}
.one_fifth {width:20%;}
.two_fifth {width:40%;}
.three_fifth {width:60%;}
.four_fifth {width:80%;}
.one_sixth {width: 16.66%;}
.five_sixth {width: 83.33%;}
.one_half, .one_third, .two_third, .one_fourth, .three_fourth,.one_fifth,.two_fifth, .three_fifth, .four_fifth,.one_sixth, .five_sixth {display:block;box-sizing:border-box;vertical-align:top;}
.alignleft, .responsive-left, .one_half, .one_third, .two_third, .one_fourth, .three_fourth,.one_fifth,.two_fifth, .three_fifth, .four_fifth,.one_sixth, .five_sixth{float:left;}
.alignright, .responsive-right{float:right;}
.aligncenter {display:block; margin:0 auto;float:none;}
.textleft, .titleleft h2, .titleleft h3 {text-align:left;}
.textright, .titleright h2, .titleright h3 {text-align:right;}
.textcenter, .titlecenter h2, .titlecenter h3 {text-align:center;}
.textjustify, .justified {text-align:justify;}
ul.nobull { padding:0; } ul.nobull > li {list-style:none;}
ul.nobull > li > ul > li { list-style:disc; }
ul.nobull > li > ul > li > ul > li { list-style:circle; }
.flatlist, .flatlist li { display: inline; }
.justified:after {content:'';width:100%;font-size: 0;line-height: 0;}
.justified, #main-menu.justified {display: block;}
.justified > *, .justified:after, #main-menu.justified:after {display: inline-block;}
#main-menu.justified li {float:none;}
#main-menu,#main-menu li {list-style: none}
.dropdown {position: relative;display:inline-table;margin:0;padding:0;}
.dropdown li {position:relative;float:left;margin:0;padding:0;}
.dropdown li a {display:block;white-space:nowrap;}
.dropdown .sub-menu {display:none;position:absolute;top:100%;margin:0;padding:0;}
.dropdown .sub-menu li {float:none;position:relative;margin:0;padding:0;}
.dropdown li:hover .sub-menu {display:block;}
.dropdown .sub-menu .sub-menu {position: absolute;top:0;margin:0;padding:0;}
.dropdown .sub-menu, .flyout-left .sub-menu, .flyout-right .flyout-left .sub-menu {left:auto;right:0;}
.dropdown .sub-menu .sub-menu, .flyout-left .sub-menu .sub-menu, .sub-menu .flyout-left .sub-menu,.flyout-right .flyout-left .sub-menu .sub-menu,.flyout-right .sub-menu .flyout-left .sub-menu  {left:auto;right:100%;}
.flyout-right .sub-menu, .flyout-right .sub-menu, .flyout-left .flyout-right .sub-menu {left:0;right:auto;}
.flyout-right .sub-menu .sub-menu, .sub-menu .flyout-right .sub-menu,.flyout-left .flyout-right .sub-menu .sub-menu, .flyout-left .sub-menu .flyout-right .sub-menu {left:100%;right:auto;}
.dropdown.animated .sub-menu {display:block;position:absolute;visibility:hidden;z-index:1;opacity:0;transition: opacity 0.5s ease 0s;}
.dropdown.animated li:hover > .sub-menu {visibility:visible;opacity: 1;}
/* WP friendly */
img.alignleft {margin-right: 10px;}
img.alignright {margin-left: 10px;}
.gallery {margin: 0 auto;width:auto;}
.gallery-item img {float: left;margin: 5px;}
.wp-caption {border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px;}
.autohide-adminbar #wpadminbar {width: 37px;min-width: auto;overflow: hidden;transition: all .5s ease 0.24s;}
.autohide-adminbar #wpadminbar:hover {width: 100%;overflow: visible;}