/* 19Feb14 */
/* ----------- NORMALIZE ----------- */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, figure, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0;}
table {border-collapse:collapse; border-spacing:0;}
fieldset, img {border:0;}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
caption, th {text-align:left;}
ol, ul, li {list-style:none;}
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;overflow-y:scroll;}
html,button,input,select,textarea {font-family: sans-serif;}
a, a:visited, a:active {text-decoration:none;}
a:focus {outline: thin dotted;}
a:active,a:hover {outline: 0;}
a[href^=tel], a[href^=tel]:link, a[href^=tel]:visited, a[href^=tel]:active, a[href^=tel]:hover {color:inherit;}
code,kbd,pre,samp {font-family: monospace, serif;_font-family: 'courier new', monospace;font-size: 1em;}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
q {quotes: none;}
q:before,q:after {content: '';content: none;}
abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: bold;}
blockquote {margin: 1em 40px;}
dfn, i, em {font-style: italic;}
mark { background: #ff0; color: #000;}
pre {white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
dl,menu,ol,ul {margin: 1em 0;}
dd {margin: 0 0 0 40px;}
a img, img {border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) {overflow: hidden;}
fieldset { border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend { border: 0; padding: 0;white-space: normal; *margin-left: -7px; }
button, input,select, textarea {font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal;}
button, select {text-transform: none;}
button,html input[type="button"], input[type="reset"],input[type="submit"] {-webkit-appearance: button; cursor: pointer; *overflow: visible; }
button[disabled], html input[disabled] {cursor: default;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }
input[type="search"] {-webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto;vertical-align: top;}
table {border-collapse: collapse;border-spacing: 0;}
::-moz-selection {text-shadow: none; background-color:#B2CCE6;}
::selection {text-shadow: none; background-color:#B2CCE6;}
hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}
h1, h2, h3, h4, h5, h6 {line-height:1em;}
h1 {font-size:2em;margin: 0 0 0.67em;}
h2 {font-size:1.5em;margin: 0 0 0.83em;}
h3 {font-size:1.2em;margin: 0 0 1em;}
h4 {font-size:1em;margin: 0 0 0.8em;}
h5 {font-size:.8em;margin: 0 0 0.67em;}
h6 {font-size:.65em;margin: 0 0 0.33em;}
p, pre {margin: 0 0 1em;}
ul li {list-style: disc;}
ul li ul li {list-style: circle;}
@media print {* {background: transparent !important;color: #000 !important; /* Black prints faster: h5bp.com/s */box-shadow: none !important;text-shadow: none !important;}a,a:visited {text-decoration: underline;}a[href]:after {content: " (" attr(href) ")";}abbr[title]:after {content: " (" attr(title) ")";}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {content: "";}pre,blockquote {border: 1px solid #999;page-break-inside: avoid;}thead {display: table-header-group; /* h5bp.com/t */}tr,img {page-break-inside: avoid;}img {max-width: 100% !important;}@page {margin: 0.5cm;}p,h2,h3 {orphans: 3;widows: 3;}h2,h3 {page-break-after: avoid;}}
@-moz-document url-prefix(http), url-prefix(file) {img:-moz-broken {-moz-force-broken-image-icon: 1;width: 100px;height: 75px;}}/* Force Firefox to show image placeholders */
/* ----------- WORDPRESS DEFAULTS ----------- */
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }
.gallery {margin: 0 auto;width: 800px;}
.gallery-item img {float: left;margin: 5px;}

/* ----------- HELPERS ----------- */
br.clear { clear:both; display:block; height:1px; margin:-1px 0 0 0 }
/* http://sonspring.com/journal/clearing-floats */
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,.clearfix:after,.container_12:before,.container_12:after {content: '.';display: block;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;width: 0;height: 0;}
.clearfix:after,.container_12:after {clear: both;}
.clearfix,.container_12 {*zoom: 1;}
.preloader {margin-left:-9999px;position:absolute;}
.redalert{color:#fff;background-color:red;}
.screenreader{position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}
ul.nobull { padding:0; }
ul.nobull > li { list-style:none; }


/* ----------- Nav - up to 3-tier drop down ----------- */
/* Tier 1 */
.access ul {position: relative;display:inline-table;list-style:none;margin:0;padding:0;}
.access ul:after {content:"";clear:both;display:block;}
.access ul li {position:relative;float:left;list-style:none;margin:0;padding:0;}
.access ul li a {display:block;white-space:nowrap;}
/* Tier 2 */
.access ul ul {display:none;position:absolute;top: 100%;margin:0;padding:0;}
.access ul ul li {float:none;position: relative;margin:0;padding:0;}
.access ul li:hover > ul {display:block;}
/* Tier 3 */
.access ul ul ul {position: absolute; left: 100%; top:0;margin:0;padding:0;}
/* ----------- 3-Tier Nav - Animated ----------- */
.animated ul li > ul {
	display:block;
	position:absolute;
	visibility:hidden;
	z-index:1;
	opacity:0;
	transition: opacity 0.2s ease-in-out 0s;
}
.animated ul li:hover > ul {
	visibility:visible;
	opacity: 1;
}

/* ----------- 960 Grid System ~ Core CSS. Learn more ~ http://960.gs/  Licensed under GPL and MIT. ----------- */
/* `Container */.container_12 { margin-left: auto; margin-right: auto; width: 960px;}
/* `Grid >> Global */
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { display: inline; float: left; margin-left: 10px; margin-right: 10px;}
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11 { position: relative; }
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
/* `Grid >> 12 Columns */.container_12 .grid_1 { width: 60px; }.container_12 .grid_2 { width: 140px; }.container_12 .grid_3 { width: 220px; }.container_12 .grid_4 { width: 300px; }.container_12 .grid_5 { width: 380px; }.container_12 .grid_6 { width: 460px; }.container_12 .grid_7 { width: 540px; }.container_12 .grid_8 { width: 620px; }.container_12 .grid_9 { width: 700px; }.container_12 .grid_10 { width: 780px; }.container_12 .grid_11 { width: 860px; }.container_12 .grid_12 { width: 940px; }
/* `Prefix Extra Space >> 12 Columns */.container_12 .prefix_1 {padding-left: 80px;}.container_12 .prefix_2 {padding-left: 160px;}.container_12 .prefix_3 {padding-left: 240px;}.container_12 .prefix_4 {padding-left: 320px;}.container_12 .prefix_5 {padding-left: 400px;}.container_12 .prefix_6 {padding-left: 480px;}.container_12 .prefix_7 {padding-left: 560px;}.container_12 .prefix_8 {padding-left: 640px;}.container_12 .prefix_9 {padding-left: 720px;}.container_12 .prefix_10 {padding-left: 800px;}.container_12 .prefix_11 {padding-left: 880px;}
/* `Suffix Extra Space >> 12 Columns */.container_12 .suffix_1 {padding-right: 80px;}.container_12 .suffix_2 {padding-right: 160px;}.container_12 .suffix_3 {padding-right: 240px;}.container_12 .suffix_4 {padding-right: 320px;}.container_12 .suffix_5 {padding-right: 400px;}.container_12 .suffix_6 {padding-right: 480px;}.container_12 .suffix_7 {padding-right: 560px;}.container_12 .suffix_8 {padding-right: 640px;}.container_12 .suffix_9 {padding-right: 720px;}.container_12 .suffix_10 {padding-right: 800px;}.container_12 .suffix_11 {padding-right: 880px;}
/* `Push Space >> 12 Columns */.container_12 .push_1 {left: 80px;}.container_12 .push_2 {left: 160px;}.container_12 .push_3 {left: 240px;}.container_12 .push_4 {left: 320px;}.container_12 .push_5 {left: 400px;}.container_12 .push_6 {left: 480px;}.container_12 .push_7 {left: 560px;}.container_12 .push_8 {left: 640px;}.container_12 .push_9 {left: 720px;}.container_12 .push_10 {left: 800px;}.container_12 .push_11 {left: 880px;}
/* `Pull Space >> 12 Columns */.container_12 .pull_1 {left: -80px;}.container_12 .pull_2 {left: -160px;}.container_12 .pull_3 {left: -240px;}.container_12 .pull_4 {left: -320px;}.container_12 .pull_5 {left: -400px;}.container_12 .pull_6 {left: -480px;}.container_12 .pull_7 {left: -560px;}.container_12 .pull_8 {left: -640px;}.container_12 .pull_9 {left: -720px;}.container_12 .pull_10 {left: -800px;}.container_12 .pull_11 {left: -880px;}

/* ----------- Socialbox icons ----------- */
ul.socialbox {margin:0;padding:0;}
ul.socialbox li {margin:0;padding:0;list-style:none;display:inline;}
.social_icon a {text-indent:-9999px; border-radius: 5px;display:inline-block; width:32px; height:32px;background: none no-repeat scroll center center transparent;}
.social_icon a.socialbox_email		{background-image:url('../img/social/email1.png');}
.social_icon a.socialbox_email2		{background-image:url('../img/social/email2.png');}
.social_icon a.socialbox_phone		{background-image:url('../img/social/phone1.png');}
.social_icon a.socialbox_phone2		{background-image:url('../img/social/phone2.png');}
.social_icon a.socialbox_fax		{background-image:url('../img/social/fax1.png');}
.social_icon a.socialbox_fax2		{background-image:url('../img/social/fax2.png');}
.social_icon a.socialbox_addr		{background-image:url('../img/social/addr1.png');}
.social_icon a.socialbox_addr2		{background-image:url('../img/social/addr2.png');}
.social_icon a.socialbox_rss		{background-image:url('../img/social/rss.png');}
.social_icon a.socialbox_facebook	{background-image:url('../img/social/facebook.png');}
.social_icon a.socialbox_twitter	{background-image:url('../img/social/twitter.png');}
.social_icon a.socialbox_linkedin	{background-image:url('../img/social/linkedin.png');}
.social_icon a.socialbox_etsy		{background-image:url('../img/social/etsy.png');}
.social_icon a.socialbox_youtube	{background-image:url('../img/social/youtube.png');}
.social_icon a.socialbox_googleplus	{background-image:url('../img/social/googleplus.png');}
.social_icon a.socialbox_instagram	{background-image:url('../img/social/instagram.png');}
.social_icon a.socialbox_pinterest	{background-image:url('../img/social/pinterest.png');}
.social_icon a.socialbox_flickr		{background-image:url('../img/social/flickr.png');}
.social_icon a.socialbox_vimeo		{background-image:url('../img/social/vimeo.png');}
.social_icon a.socialbox_extra1		{background-image:url('../img/social/extra1.png');}
.social_icon a.socialbox_extra2		{background-image:url('../img/social/extra2.png');}
.social_icon a.socialbox_extra3		{background-image:url('../img/social/extra3.png');}
.social_icon a.socialbox_extra4		{background-image:url('../img/social/extra4.png');}
.social_icon a.socialbox_extra5		{background-image:url('../img/social/extra5.png');}
.social_icon a.socialbox_extra6		{background-image:url('../img/social/extra6.png');}
.social_icon a.socialbox_extra7		{background-image:url('../img/social/extra7.png');}