/* 17Feb14 */
/* Login Logo */
.login #login > h1 a { 
	background-image:url("logo-login.svg");
	background-size:auto auto;
	width:auto;
}

/* Dashboard logo */
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default #wp-admin-bar-wp-logo .ab-icon {
	background: url('logo-adminbar.svg') no-repeat scroll 0 6px transparent !important;
	width:30px !important;
}
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before {
	content:'';
}

/* Widget - Bucket */
.widget .widget-inside .bucket-widget-form .bucket-widget-control {
	padding: 20px 0; text-align: center; border: 1px dashed #aaa;
}
.widget .widget-inside .bucket-widget-form .bucket-widget-control.has-image {
	padding: 10px;
	text-align: left;
	border: 1px dashed #aaa;
}
.widget .widget-inside .bucket-widget-form .bucket-widget-control img {
	display: block;
	margin-bottom: 10px;
	max-width: 100%;
	height: auto;
}

/* Home Meta */
.home-meta-content,
.home-meta-link,
.home-meta-title {
    width: 100%;
}
.home-meta-img {
	width:80%;	
}
.home-meta-content {
    min-height: 100px;
}

.home-meta-fieldset {
    display: inline;
    margin-right: 20px;
	min-width: 250px;
    width: 40%;
}
.home-meta-fieldset label {
    display: block;
}

/* Settings */
#admin-settings-warning-box {
	background: #F00;
	border-radius: 5px;color: #FFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin: 10px auto 0;
	padding: 7px;
	text-align: center;
	width: 710px;
}
.skivvy-optionsupdate h3 {
    background: none repeat scroll 0 0 #008000;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    width: 250px;
}
/* Website options */
.skivvy-optionrow {
    line-height: 32px;
}

.skivvy-optionrow span {
    display: block;
    float: left;
}
.skivvy-websiteoptions .skivvy-optionrow .icon img {
    height: auto;
    max-width: 20px;
    padding: 1px 5px;
}
.skivvy-websiteoptions .skivvy-optionrow .icon img:hover {
	background: linear-gradient( to top, #373737 0px, #464646 5px) repeat scroll 0 0 #464646
}

.skivvy-optionrow .name {
    display: inline-block;
    width: 80px;
}
.skivvy-weboptions-admin-fields input {
	text-align: center;
	border-radius: 5px;
	padding: 0px;
}
.skivvy-option-addr .input input {
    width: 600px;
}
/* Post Status */
.status-publish {}
.status-publish.alternate, .status-publish.alt {}
.status-draft {}
.status-draft.alternate, .status-draft.alt {}
.status-pending {}
.status-pending.alternate, .status-pending.alt {}
.status-private {}
.status-private.alternate, .status-private.alt {}
.post-password-required {}
.post-password-required.alternate, .post-password-required.alt {}